@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Epilogue:wght@500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.App {
  text-align: center;
  font-family: 'Epilogue', sans-serif;
  position: relative;
}

/* NavBar Component */
.section-nav {
  margin-top: 25px;
}

.section-nav .container-nav {
  display: none;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.inner-menu {
  height: 100vh;
  position: absolute;
  top: -25px;
  right: 0px;
  width: 65%;
  background: #fff;
  transition: all 1s ease;
}
.inner-menu-container {
  width: 90%;
  margin: auto;
  text-align: left;
  position: relative;
  top: 10%;
  color: hsl(0, 0%, 41%);
  transition: all 1s ease;
}
.inner-menu-container .close-icon {
  position: absolute;
  top: -68px;
  right: 6%;
  z-index: 99;
}
.inner-menu-container ul {
  padding-bottom: 1.5em;
}
.inner-menu-container .features {
  text-align: center;
}
.inner-menu-container .features li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  margin: 1em auto;
}
.inner-menu-container .company{
  text-align: center;
  padding-bottom: 0px;
}
.inner-menu-container .company li {
  margin: 1.5em auto;
  width: 55%;
  text-align: left;
}
.inner-menu-container .career {
  margin-bottom: 1.5em;
}
.inner-menu-container .login {
  text-align: center;
  padding: 1em 0;
}
.inner-menu-container .login p {
  padding-bottom: .7em;
}
.inner-menu-container .login button {
  border: 2px solid hsl(0, 0%, 41%);
  border-radius: 15px;
  padding: .7em 3em;
  width: 90%;
  background: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 41%);
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
}

/* Image Component */
.bg-img {
  background-image: url('/public/images/image-hero-mobile.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 340px;
  margin-bottom: 1em;
}

/* Text Component */
.text {
  padding-top: 1em;
}

.text h1 {
  color: hsl(0, 0%, 8%);
  font-weight: 700;
  padding-bottom: 1em;
}
.text p {
  width: 90%;
  margin: auto;
  padding-bottom: 2em;
  color: hsl(0, 0%, 41%);
  font-weight: 500;
  line-height: 27px;
}
.text button {
  background: hsl(0, 0%, 8%);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 1em 1.5em;
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  margin-bottom: 60px;
}
.brands {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brands img {
  width: 20%;
}

@media(min-width:1000px){
  .section-nav .container-nav {
    display: block;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .row div {
    /* border: 1px solid green; */
    padding-right: 1.5em;
  }
  
  .row-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .row-login div {
    padding-left: 1.5em;
  }
  .row-login button {
    background-color: #fff;
    border: 2px solid hsl(0, 0%, 8%);
    border-radius: 10px;
    color: hsl(0, 0%, 8%);
    padding: 1em 1.5em;
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
  }

  .nav-row {
    display: none;
  }
  .features-desktop {
    position: absolute;
    top: 6%;
    left: 7%;
    width: 140px;
    padding: 1em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 5px 15px rgb(230, 230, 230);
  }
  .features-desktop li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 1em auto;
  }
  .company-desktop {
    position: absolute;
    top: 6%;
    left: 25%;
    width: 130px;
    padding: 1em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 5px 15px rgb(230, 230, 230);
  }
  .company-desktop li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 1em auto;
  }
  .App-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 5em;
  }
  
/* Image Component */
.bg-img {
  background-image: url('/public/images/image-hero-desktop.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 640px;
  margin-bottom: 1em;
}

/* Text Component */
.text {
  padding-top: 0;
  padding-left: 2em;
  text-align: left;
  width: 45%;
}

.text h1 {
  font-size: 4rem;
  padding-bottom: .5em;
  width: 100%;
  margin: auto;
}
.text p {
  width: 100%;
  margin: auto;
  padding-bottom: 2em;
  color: hsl(0, 0%, 41%);
  font-weight: 500;
  line-height: 27px;
}
.text button {
  background: hsl(0, 0%, 8%);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 1em 1.5em;
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  margin-bottom: 60px;
}
.brands {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brands img {
  width: 20%;
}
}

@media(min-width: 1440px) {
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .row div {
    padding-right: 5em;
  }
  .row-login div {
    padding-left: 5em;
  }

  .features-desktop {
    left: 10%;
  }
  .company-desktop {
    left: 20%;
  }
  .App-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    max-width: 1440px;
    margin: 7em auto;
  }

/* Text Component */
.text {
  padding-left: 0px;
  width: 50%;
}

.text h1 span {
  padding-right: 5em;
}

.text h1 {
  font-size: 5rem;
}
.text p {
  width: 60%;
  margin: 0px;
  font-size: 18px;
}
.text button {
  background: #fff;
  color: hsl(0, 0%, 8%);
  border: 1px solid hsl(0, 0%, 8%);
  border-radius: 10px;
  padding: 1.5em 2em;
  margin-bottom: 60px;
}
.brands {
  width: 70%;
  margin: 0px;
}

.brands img {
  width: 20%;
}
}